.footer {
  background-color: rgb(16, 18, 41);
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.footer-link {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

